<form method="POST">
	<h1>Preferensi</h1>
	Tahun: <input name="tahunmin" value = 2010> - <input name="tahunmax" value = 2015>
    <br>
    Jenis BBM: 
    <select name="bbm">
    	<option value="Bensin">Bensin</option>
    	<option value="Diesel">Diesel</option>
    </select>
    <br>
    Kapasisas Mesin: <input name="kapasitasmin" value = 1000> - <input name="kapasitasmax" value = 1500>
    <br>

    Biaya Ganti Oli (maks) Rp.: <input name="gantioli" value = 600000> 
    <br>
    Jenis mobil: 
    <select name="jenis">
    	<option value="any">Any</option>
    	<option value="MPV">MPV</option>
    	<option value="Hatchback">Hatchback</option>
    	<option value="SUV">SUV</option>
    </select>
    <br>
    Harga (maks) Rp: <input name="hargamax" value = 1200000000>
    <br>
    <input type="submit">
</form>