<form method="POST">
	<h1>Preferensi</h1>
	Tahun: <input name="tahun" value = 2010>
    <br>
    Kapasisas Mesin: <input name="kapasitas" value = 1000>
    <br>
    Turbo: 
    <select name="turbo">
        <option value="NA">NA</option>
        <option value="ada">Ada</option>
    </select>

    Biaya Ganti Oli (maks) Rp.: <input name="gantioli" value = 600000> 
    <br>
    Jenis mobil: 
    <select name="jenis">
    	<option value="MPV">MPV</option>
    	<option value="Hatchback">Hatchback</option>
    	<option value="SUV">SUV</option>
    </select>
    <br>
    <input type="submit" value = "Prediksi">
</form>